body, .header, .footer{
    margin: 0;
    padding: 0;
}
*{
    font-family: 'Roboto', sans-serif;
}
.header{
    position: fixed;
    /*position: absolute;*/
    top: 0;
    background-color: #007765;
    height: 120px;
    width: 100vw;
    text-align: center;
}
.header-child{
    display: inline-block;
    height: 100px;
    /*width: 30%;*/
}
.header-name{
    font-size: 30px;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.header-name-h1{
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    padding-left: 50px;
}
.header-logo-img{
    width: 70px;
    height: 70px;
    padding-left: 50px;
    /*margin: auto;*/
}
.menu-block{
    height: 100%;
    background-color: #007765;
    width: 110px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
.menu-list{
    margin: 0 10px 0;
    padding: 0;
    list-style-type: none;
}

.menu-list li a{
    word-wrap: break-word;
    text-transform: uppercase;
    border-width: 2px;
    border-color: aqua;
    border-style: inset;
    text-decoration: none;
    margin-top: 100px;
    padding: 6px 8px 6px 16px;
    font-size: 12px;
    display: block;
    color: lightblue;
}
.menu-list li a:hover{
    color: white;
}
.content-game{
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;
    padding-top: 170px;
    border-width: 1px;
    border-style: inset;
    border-color: black;
}
.game-field{
    text-align: center;
    /*margin-bottom: 50px;*/
    display: inline-block;
}
th, td{
    border-width: 1px;
    border-style: inset;
    border-color: black;
}

.board{
    border-spacing: 0;
    border-width: 1px;
    border-style: inset;
    border-color: black;
}

.game-field td{
    padding: 4px;
}
.game-field {
    /*margin-top: -70px;*/
    /*padding-top: 50px;*/
    padding-bottom: 50px;
    /*border: 2px #000000 inset;*/
}

.buttons-block{
    display: inline-block;
    margin-left: 50px;
    text-align: center;
    /*text-transform: uppercase;*/
    /*color: lightblue;*/
}
.start-button{
    text-transform: uppercase;
    color: lightblue;
    display: block;
    border-width: 2px;
    border-color: aqua;
    border-style: solid;
    margin-bottom: 50px;
    width: 100px;
    /*padding: 5px;*/
    background-color: #007765;
    padding: 6px 8px 6px 13px;
    font-size: 12px;
}
.current-state-table-button{
    text-transform: uppercase;
    color: lightblue;
    display: block;
    border-width: 2px;
    border-color: aqua;
    border-style: solid;
    width: 100px;
    background-color: #007765;
    font-size: 12px;
}

.start-button:hover{
    /*background-color: #007730;*/
}

.example-button{
    display: block;
    text-transform: uppercase;
    color: lightblue;
    border-width: 2px;
    width: 100px;
    border-color: aqua;
    border-style: solid;
    margin-bottom: 50px;
    /*padding: 5px;*/
    background-color: #007765;
    padding: 6px 8px 6px 13px;
    font-size: 12px;
}

.game-info{
    padding-bottom: 20px;
}

.game-info-buttons button{
    width: 70px;
    text-transform: uppercase;
    border: 2px aqua solid;
    font-size: 8px;
    color: lightblue;
    background-color: darkgrey;
    margin-bottom: 10px;
}

.player-move-info{
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
}

.popup-info{
    display: none;
    text-align: center;
    border: 1px black solid;
    background-color: #a9a9a9;
    color: white;
    padding: 10px;
}

.recording-game-show{
    overflow: scroll;
    width: 200px;
    height: 300px;
    border-width: 2px;
    border-color: #007765;
    border-style: inset;
    margin-left: 50px;
    display: inline-block;
}
.text-moves{
    display: inline-block;
    /*border: 1px solid black;*/
    width: 30%;
    margin-left: 10px;
    vertical-align: top;
}
.numbers-moves{
    width: 10px;
}





.leftstr, .rightstr {
    float: left; /* Обтекание справа */
    width: 50%; /* Ширина текстового блока */
    margin: 0;
    padding: 0;
}
.rightstr {
    text-align: right; /* Выравнивание по правому краю */
}





.read-record-block{
    display: inline-block;
    margin: 0;
    /*border: 2px #000000 inset;*/
}

.read-record{
    overflow: scroll;
    width: 200px;
    height: 250px;
    border-width: 2px;
    border-color: #007765;
    border-style: inset;
    margin-left: 50px;
}

.read-record-button{
    margin-left: 50px;
    margin-top: 20px;
    text-transform: uppercase;
    border: 2px aqua solid;
    font-size: 12px;
    color: lightblue;
    background-color: #007765;
    margin-bottom: 10px;
    padding: 5px;
}

.read-record-textarea{
    /*width: 177px;*/
    /*width: 23%;*/
    width: 100%;
    height: 300%;
    /*text-align: center;*/
    /*margin-left: 25px;*/
    resize: none;
    border: none;
    /*height: 214px;*/
    /*display: inline-block;*/
    white-space :pre-line;
}

.record-moves-white-checkers{
    margin-left: 20px;
}

.record-moves-black-checkers{
    margin-left: 35px;
}

.title-read-moves{
    width: 33%;
    font-size: 16px;
    margin-left: 20px;
    /*height: 214px;*/
    display: inline-block;
}

.read-record-h3 {
    text-align: center;
}

.record-moves{
    width: 70%;
    white-space: pre-wrap;
    margin-left: 30px;
}

.read-record-textarea{
    white-space: pre-wrap;
}

.recording-game-show-h1{
    text-align: center;
}
/*.recording-moves-left{*/
/*    font-size: 15px;!**!*/
/*    !*display: inline-block;*!*/
/*    font-weight: normal;!**!*/
/*    !*text-align: left;!**!*!*/
/*    !*padding-left: 50px;!**!*!*/
/*    padding-right: 30px;!**!*/
/*    display: block;*/
/*    float: right;*/
/*}*/

/*.recording-moves-right{*/
/*    font-size: 15px;*/
/*    !*display: inline-block;*!*/
/*    font-weight: normal;*/
/*    !*text-align: left;*!*/
/*    padding-left: 30px;*/
/*    !*padding-right: 50px;*!*/
/*    display: block;*/
/*    float: left;*/
/*}*/

.board{
    margin: auto;
}
.board img{
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 31px;
    alignment: center;
}
.white, .board-notation{
    background-color: white;
}
.white{
    /*width: 55px;*/
    /*height: 55px;*/
    width: 35px;
    height: 35px;
}
.black{
    background-color: #a9a9a9;
    alignment: center;
}
.content-rules{
    padding-top: 170px;
}
.rules, .recording{
    text-align: center;
    margin: auto;
    width: 50%;
}
.footer{
    background: #007765;
    height: 120px;
    width: 100vw;
    text-align: center;
    display: flex;
}
.footer-about{
    font-size: 20px;
    color: white;
    margin: auto;
}
.footer-main{
    margin-top: 537px;
}