body, .header, .footer{
    margin: 0;
    padding: 0;
}
.header{
     position: fixed;
    top: 0;
    background-color: #007765;
    height: 120px;
    width: 100vw;
    text-align: center;
}
.header-child{
    display: inline-block;
    height: 100px;
}
.header-name{
    font-size: 30px;
    font-style: normal;
    color: white;
}
.header-name-h1{
    padding-left: 50px;
}
.header-logo-img{
    width: 70px;
    height: 70px;
    padding-left: 50px;
}
.menu-block{
    height: 100%;
    background-color: #007765;
    width: 110px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
.menu-list{
    margin: 0 10px 0;
    padding: 0;
    list-style-type: none;
}

.menu-list li a{
    word-wrap: break-word;
    text-transform: uppercase;
    border-width: 2px;
    border-color: aqua;
    border-style: inset;
    text-decoration: none;
    margin-top: 100px;
    padding: 6px 8px 6px 16px;
    font-size: 12px;
    display: block;
    color: lightblue;
}
.menu-list li a:hover{
    color: white;
}
.content-game{
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;
    padding-top: 170px;
}
.game-field{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    display: inline-block;
}
th, td{
    border-width: 1px;
    border-style: inset;
    border-color: black;
}

.board{
    border-spacing: 0;
    border-width: 1px;
    border-style: inset;
    border-color: black;
}

.game-field td{
    padding: 4px;
}

.recording-game-show{
    width: 300px;
    height: 500px;
    border-width: 2px;
    border-color: #007765;
    border-style: inset;
    margin-left: 100px;
    display: inline-block;
    text-align: center;
}
.board{
    margin: auto;
}
.board img{
    width: 48px;
    height: 49px;
    alignment: center;
}
.white, .board-notation{
    background-color: white;
}
.white{
    width: 55px;
    height: 55px;
}
.black{
    background-color: #a9a9a9;
    alignment: center;
}
.content-rules{
    padding-top: 170px;
}
.rules, .recording{
    text-align: center;
    margin: auto;
    width: 50%;
}
.footer{
    background: #007765;
    height: 120px;
    width: 100vw;
    text-align: center;
    display: flex;
}
.footer-about{
    font-size: 20px;
    color: white;
    margin: auto;
}
.footer-main{
    margin-top: 537px;
}