body, .header, .footer{
    margin: 0;
    padding: 0;
}
.header{
    top: 0;
    background-color: #007765;
    height: 120px;
    width: 100vw;
    text-align: center;
}
.fixed{
    position: fixed;
}
.header-child{
    display: inline-block;
    height: 100px;
}
.header-name{
    font-size: 30px;
    font-style: normal;
    color: white;
}
.header-name-h1{
    padding-left: 50px;
}
.header-logo-img{
    width: 70px;
    height: 70px;
    padding-left: 50px;
}
.menu-block{
    height: 50px;
    background-color: #007765;
    width: 100%;
}
.menu-list{
    margin: 0 30px 0;
    padding: 0;
    list-style-type: none;
}
.menu-list li{
    display: inline;
    margin-right: 30px;
    color: white;
}
.menu-list li a{
    color: aqua;
    text-transform: uppercase;
    border-width: 2px;
    border-color: aqua;
    border-style: inset;
    padding: 10px;
    text-decoration: none;
}
.content-game{
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;
    padding-top: 170px;
}
.content-rules{
    padding-top: 170px;
}
.game-field{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    display: inline-block;
}
.recording-game-show{
    width: 300px;
    height: 500px;
    border-width: 2px;
    border-color: #007765;
    border-style: inset;
    margin-left: 100px;
    display: inline-block;
    text-align: center;
}
.board{
    margin: auto;
}
.board img{
    width: 48px;
    height: 49px;
    alignment: center;
}
.white, .board-notation{
    background-color: white;
}
.white{
    width: 55px;
    height: 55px;
}
.black{
    background-color: #a9a9a9;
    alignment: center;
}
.rules, .recording{
    text-align: center;
    margin: auto;
    width: 50%;
}
.footer{
    background: #007765;
    height: 120px;
    width: 100vw;
    text-align: center;
    display: flex;
}
.footer-about{
    font-size: 20px;
    color: white;
    margin: auto;
}
.footer-main{
    padding-top: 170px;
}
